/* !  */
._hi_im_nicolas{
    width: 100%;
    min-height:100vh;
    /* display: flex;
    flex-direction: column;
<<<<<<< HEAD
    align-items: center; */
/* background:url(../assets/images/capture.png); */
background-color: black;
=======
    align-items: center;
background: rgb(2,0,36);
>>>>>>> 36f8f2bf1c9b58189deeaf8e11092fb6625e599e
}
/* ._hi_im_nicolas h1{
    font-size: 12vw;
    color: #f0f8ff;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 36f8f2bf1c9b58189deeaf8e11092fb6625e599e
