.try{
    width:100%;
    background-color:transparent;
    /* background:url(../assets/images/React_Context_API.jpg); */

background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,85,1) 81%, rgba(128,0,255,1) 100%);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    min-height: 100px;
    overflow: hidden;
}
.text{
    font-size: 8vw;
    white-space: nowrap;
    animation: scroll 25s linear infinite;
    color:rgb(255, 255, 255);
    font-weight: 600;
    /* color:black; */
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

@keyframes scroll{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}